ENVIRONMENT=production
ADMIN_API_TOKEN=change-this-token
POSTGRES_DB=opensocks
POSTGRES_USER=opensocks
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

SSSERVER_ENABLED=false
SSSERVER_IMAGE=ghcr.io/shadowsocks/ssserver-rust:latest
SSSERVER_PORT=8389
SSSERVER_METHOD=chacha20-ietf-poly1305
SSSERVER_PASSWORD=change-me
